html,body{
  height: 100vh;
  overflow-y: auto;
}

body{
  background-size: cover;
  background: url('../img/universe-4609408_1280.jpg') repeat;
}

.inputColor{
  color : #114E7F;
  background-color: #fff;;
  opacity: 0.8;
}

#fileInput{
  opacity: 0.8;
  color: #114E7F;
}

#scroll{
  height: 100vh;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #727d87; 
}

.modal > .modal-dialog > .modal-content{
    background-color: #BD5C44;
}

h1{
  font-family: 'Odibee Sans', cursive;
  color: #113E7F;
  font-weight: bold;
}

h2{
  font-family: 'Odibee Sans', cursive;
  color: #113E7F;
  font-weight: bold;
}

.opacity{
  opacity: 0.5;
}

#parameters{
  list-style: none;
}

#big_text{
  height: 60px;
}

.table{
  position: fixed;
}

#returnArrow{
  color: #113E7F;
}

footer{
  position: fixed;
  left: 0;
  bottom : 0;
  width: 100%;
}
