body{
  background: url('../img/universe-4609408_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-family: 'Odibee Sans', cursive;
  color: #113E7F;
  font-weight: bold;
}

.opacity{
  opacity: 0.5;
}

#big_text{
  height: 60px;
}

.table{
  position: fixed;
}

footer{
  position: fixed;
  left: 0;
  bottom : 0;
  width: 100%;
}
